<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgy.flowershopserver.mapper.GoodsinfoMapper">

    <resultMap id="AllInfoResultMap" type="GoodsInfoBean">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="imgUrl" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="belong2Title" property="belong2Title" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="baseInsert" parameterType="GoodsInfoBean">
        insert into goodsinfo(title, imgurl,belong2Title)
        values(#{title}, #{imgurl},#{belong2Title})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from goodsinfo
        where id = #{id}
    </delete>

    <delete id="deleteByBelong2Title" parameterType="java.lang.String">
        delete from goodsinfo
        where belong2Title = #{belong2Title}
    </delete>

    <!--<update id="updateByType" parameterType="ProjectCategory">-->
    <!--update project_category-->
    <!--set category_name = #{categoryName}-->
    <!--where category_type = #{categoryType}-->
    <!--</update>-->

    <select id="selectAll" resultMap="AllInfoResultMap">
        select * from goodsinfo
    </select>

    <select id="selectByBelong2Title" resultMap="AllInfoResultMap">
        select * from goodsinfo
        where belong2Title=#{belong2Title}
    </select>
</mapper>