<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgy.flowershopserver.mapper.GoodsInfoRCategoryMapper">

    <resultMap id="AllInfoResultMap" type="GoodsInfoRCategoryBean">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="baseInsert" parameterType="java.lang.String">
        insert into goodsrcategory(title)
        values(#{title})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from goodsrcategory
        where id = #{id}
    </delete>


    <!--<update id="updateByType" parameterType="ProjectCategory">-->
    <!--update project_category-->
    <!--set category_name = #{categoryName}-->
    <!--where category_type = #{categoryType}-->
    <!--</update>-->

    <select id="selectAll" resultMap="AllInfoResultMap">
        select * from goodsrcategory
    </select>

    <select id="selectByTitle"  resultMap="AllInfoResultMap">
        select * from goodsrcategory
        where title = #{title}
    </select>
</mapper>