<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgy.flowershopserver.mapper.GoodsItemMapper">

    <resultMap id="AllInfoResultMap" type="GoodsItemBean">
        <id column="tid" property="id" jdbcType="INTEGER"/>
        <result column="categoryid" property="categoryId" jdbcType="INTEGER"/>
        <result column="campaignid" property="campaignId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="timgurl" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="sale" property="sale" jdbcType="DOUBLE"/>
        <result column="vendor" property="vendor" jdbcType="VARCHAR"/>
        <collection property="detailInfosImgUrl" ofType="GoodsRItemImgBean" javaType="list">
            <id column="iid" property="id" jdbcType="INTEGER"/>
            <id column="goodsitemid" property="goodsItemId" jdbcType="INTEGER"/>
            <id column="iimgurl" property="imgUrl" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <insert id="baseInsert" parameterType="GoodsItemBean" useGeneratedKeys="true" keyProperty="id">
    insert into goodsitem(categoryid, campaignid,name,imgUrl,price,sale,vendor)
    values(#{categoryid},-1,#{name},#{imgUrl},#{price},#{sale},#{vendor})
    </insert>

    <!--<delete id="deleteById" parameterType="java.lang.Integer">-->
    <!--delete from banner-->
    <!--where id = #{id}-->
    <!--</delete>-->

    <!--<update id="updateByType" parameterType="ProjectCategory">-->
    <!--update project_category-->
    <!--set category_name = #{categoryName}-->
    <!--where category_type = #{categoryType}-->
    <!--</update>-->

    <!--<select id="selectAll" resultMap="AllInfoResultMap">-->
    <!--select * from banner-->
    <!--</select>-->
    <select id="selectByCampaignId" parameterType="java.lang.Integer" resultMap="AllInfoResultMap">
        SELECT goodsitem.id tid,goodsitem.categoryid,goodsitem.campaignid,goodsitem.name,goodsitem.imgurl timgurl,goodsitem.price,goodsitem.sale,goodsitem.vendor,goodsritemimg.id iid,goodsritemimg.goodsitemid,goodsritemimg.imgurl iimgurl
        FROM goodsitem LEFT JOIN goodsritemimg
        ON goodsitem.id=goodsritemimg.goodsitemid
        WHERE goodsitem.campaignid=#{campaignid}
    </select>

    <select id="selectByCategoryId" parameterType="java.lang.Integer" resultMap="AllInfoResultMap">
        SELECT goodsitem.id tid,goodsitem.categoryid,goodsitem.campaignid,goodsitem.name,goodsitem.imgurl timgurl,goodsitem.price,goodsitem.sale,goodsitem.vendor,goodsritemimg.id iid,goodsritemimg.goodsitemid,goodsritemimg.imgurl iimgurl
        FROM goodsitem LEFT JOIN goodsritemimg
        ON goodsitem.id=goodsritemimg.goodsitemid
        WHERE goodsitem.categoryid=#{categoryid}
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="AllInfoResultMap">
        SELECT goodsitem.id tid,goodsitem.categoryid,goodsitem.campaignid,goodsitem.name,goodsitem.imgurl timgurl,goodsitem.price,goodsitem.sale,goodsitem.vendor,goodsritemimg.id iid,goodsritemimg.goodsitemid,goodsritemimg.imgurl iimgurl
        FROM goodsitem LEFT JOIN goodsritemimg
        ON goodsitem.id=goodsritemimg.goodsitemid
        WHERE goodsitem.id=#{id}
    </select>

    <select id="search" resultMap="AllInfoResultMap">
        SELECT goodsitem.id tid,goodsitem.categoryid,goodsitem.campaignid,goodsitem.name,goodsitem.imgurl timgurl,goodsitem.price,goodsitem.sale,goodsitem.vendor,goodsritemimg.id iid,goodsritemimg.goodsitemid,goodsritemimg.imgurl iimgurl
        FROM goodsitem LEFT JOIN goodsritemimg
        ON goodsitem.id=goodsritemimg.goodsitemid
        WHERE name like CONCAT(CONCAT('%',#{searchContent}),'%')
    </select>


    <update id="updateCampaignid">
        update goodsitem
        set campaignid = -1
        where campaignid = #{campaignid}
    </update>

    <update id="updateCategoryid">
        update goodsitem
        set categoryid = -1
        where categoryid = #{categoryid}
    </update>

    <delete id="deleteById">
        delete from goodsitem
        where id=#{id}
    </delete>

    <update id="updateAll">
        update goodsitem
        set categoryid=#{categoryid},campaignid=#{campaignid},name=#{name},imgurl={#imgurl},price=#{price},sale=#{sale},vendor=#{vendor}
        where id=#{id}
    </update>

    <select id="selectByVendor" parameterType="java.lang.Integer" resultMap="AllInfoResultMap">
        SELECT goodsitem.id tid,goodsitem.categoryid,goodsitem.campaignid,goodsitem.name,goodsitem.imgurl timgurl,goodsitem.price,goodsitem.sale,goodsitem.vendor,IFNULL(goodsritemimg.id iid,-1),goodsritemimg.goodsitemid,goodsritemimg.imgurl iimgurl
        FROM goodsitem LEFT JOIN goodsritemimg
        ON goodsitem.id=goodsritemimg.goodsitemid
        WHERE goodsitem.vendor=#{vendor}
    </select>
</mapper>