@charset "utf-8";

/* 配置盒子 */
.config-box {
    padding: 20px;
}

.config-box * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.config-box .config-box-title:before {
    content: '';
    width: 5px;
    height: 25px;
    border: none;
    margin-right: 10px;
    display: inline-block;
    background: limegreen;
    vertical-align: middle;
}

.config-box .config-box-title {
    padding: 0px;
    height: 30px;
    font-size: 18px;
    margin: 15px 0px;
    line-height: 30px;
}

/* 导航列表 */
.nav-list-box {
    width: 95%;
    height: 70px;
    margin: 0 auto;
    overflow-x: auto;
    position: relative;
    overflow-y: hidden;
    white-space: nowrap;
}

.nav-list-box .nav-list-item {
    width: 150px;
    height: 50px;
    cursor: default;
    overflow-x: auto;
    list-style: none;
    line-height: 50px;
    margin: 0px 2.5px;
    background: white;
    text-align: center;
    overflow-y: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -ms-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}

.nav-list-box .nav-list-order-item-delete {
    top: 0px;
    opacity: 0;
    right: 0px;
    width: 16px;
    height: 16px;
    position: absolute;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    -o-transition: opacity .8s ease;
    transition: opacity .8s ease;
}

.nav-list-box .nav-list-item:hover .nav-list-order-item-delete {
    opacity: 1;
}

.nav-list-item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.nav-list-box .add-nav-item {
    font-size: 25px;
    color: transparent;
    font-weight: bolder;
    -webkit-text-stroke: 1px #cecece;
}

.nav-list-box .nav-list-order-item-edit {
    width: 80%;
    height: 50%;
    outline: none;
    border: 1px solid #cecece;
}

/* 首页轮播配置 */
.slide-preview {
    width: 100%;
}

.slide-config-box input[type=file] {
    display: none;
}

.slide-item {
    width: auto;
    min-width: 120px;
    max-height: 240px;
    position: relative;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    transition: background .5s ease;
}

.slide-item .slider-list-item-delete {
    top: -6px;
    opacity: 0;
    width: 24px;
    right: -10px;
    height: 24px;
    font-size: 18px;
    position: absolute;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    -o-transition: opacity .8s ease;
    transition: opacity .8s ease;
}

.slide-item:hover .slider-list-item-delete {
    opacity: 1;
}

.slide-item h4 {
    font-weight: normal;
    text-align: center;
}

.slide-item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.slide-item img {
    height: 84px;
    max-width: 100%;
    margin: 25px 0px;
    border: 5px solid white;
}

/* 分类海报 */
.category-edit-box {
    width: 1024px;
    height: 320px;
    margin: 0 auto;
    display: block;
    font-size: 0px;
    position: relative;
    border: 1px dashed #cecece;
}

.category-image-box {
    height: 100%;
    text-align: center;
    position: relative;
    vertical-align: top;
    display: inline-block;
}

.category-select-box, .category-item-action {
    display: inline-block;
    vertical-align: middle;
}

.category-item-action {
    font-size: 25px;
    margin-left: 10px;
    padding: 0px 10px;
}

.category-item-action:hover {
    background: rgba(0, 0, 0, 0.05);
}

.category-image-main {
    width: 60%;
    border-right: 1px dashed #cecece;
}

.category-image-secondary {
    width: 40%;
}

.category-image-secondary .category-image-poster:first-child {
    border-bottom: 1px dashed #cecece;
}

.category-image-box .category-image-poster {
    width: 100%;
    height: 50%;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.category-image-poster:after {
    content: '';
    width: 0px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.category-image-box img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.good-preview-image {
    width: 20%;
    height: auto;
}

/* 添加表单 */
.layer-form {
    width: 95%;
    height: 100%;
    margin: 10px auto;
    position: relative;
}

.layer-form .layer-form-item {
    width: 100%;
    display: block;
    margin: 15px 0px;
}

.layer-form .layer-form-item input, .layer-form .layer-form-item select {
    width: 50%;
    height: 30px;
    font-size: 14px;
    text-indent: 0.5em;
    font-weight: normal;
    display: inline-block;
    border: 1px solid #cecece;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.layer-form .layer-image-upload {
    width: 100%;
    height: 350px;
    cursor: pointer;
    text-align: center;
    border: 1px dashed #cecece;
    background: url("../img/upload.png") center center no-repeat;
}

.layer-form .hidden-file-input {
    display: none;
}

/* 商品信息 */
#goods-form {
    width: 95%;
    height: 100%;
    margin: 10px auto;
    position: relative;
}

#goods-form .goods-form-item {
    width: 100%;
    display: block;
    margin: 15px 0px;
}

#goods-form .goods-form-item input[type=text], #goods-form .goods-form-item select {
    width: 30%;
    height: 30px;
    font-size: 14px;
    text-indent: 0.5em;
    font-weight: normal;
    display: inline-block;
    border: 1px solid #cecece;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#goods-form .goods-image-upload, #user-form .user-avatar-upload {
    width: 100%;
    height: 350px;
    cursor: pointer;
    text-align: center;
    border: 1px dashed #cecece;
    background: url("../img/upload.png") center center no-repeat;
}

#goods-form #hidden-file-input, #info-hidden-file-input {
    display: none;
}

/* 用户表单 */
#user-form .user-avatar-upload {
    width: 128px;
    height: 128px;
}